.game-container {
  position: relative;
}

.game-presentation {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(235, 225, 225, .8);
  width: 50%;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #0a0a0a;
  font-family: 'Bungee Shade', cursive;
}
