@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cccccc;
  padding: 15px 30px;
  /* box-shadow: 0 0 3rem inset #000; */
}

.nav-link-title {
  text-transform: uppercase;
  font-family: 'Bungee Shade', cursive;
}

.nav-link-btn {
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: background-color .3s;
  /* box-shadow: 0 0 8px inset #191414; */
  /* font-family: 'Bungee Shade', cursive; */
}

.nav-link-btn:hover {
  background-color: #fff;
  color: #000;
}